@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);

body,html{
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

.navbar{
  border-radius: 0;
  margin-bottom:0px;
}

#guacamole-main{
  height: calc(~'100% - 74px');
  width: 100%;
}

.navbar {
  .guacamole-header {
    color: #2ecc71;
  }
  .guacamole-dash{
    color: #9d9d9d;
  }
  .guacamole-source {
    color: #95a5a6;
  }
}

.table > tbody > tr {
  th, td {
    color: #fff;
    border-top: 1px solid #353535;
  }
}
